@font-face{
    font-family: 'topSecret';
    src: url(./assets/Top_Secret.woff) format('woff'),
         url(./assets/Top_Secret.ttf);
    ;
}
@font-face{
    font-family: 'carbonType';
    src: url(./assets/carbontype.woff) format('woff'),
         url(./assets/carbontype.ttf);
    ;
}
@font-face{
    font-family: 'plainText';
    src: url(./assets/1942.woff) format('woff'),
         url(./assets/1942.ttf);
    ;
}

*{
    box-sizing: border-box;
}

:root{
    /* ------------------------ theme ----------------------- */
    /* color  */
    --font-primary: #393E46;
    --font-secondary: #929AAB;
    --bg-primary: #EEEEEE;
    --bg-secondary: #F7F7F7;
    /* --color-primary: #00e5e5; */
    --color-fade-primary: #ccffff;
    /* --color-success: #007300; */
    --color-fade-success: #cce5cc;
    /* --color-danger: #e500e5; */
    --color-fade-danger: #ffccff;
    /* --color-warn: #e5e500; */
    --color-fade-warn: #ffffcc;
    --color-dark: #191919;
    --color-fade-dark: #cccccc;

    /* font */
    --font-h1: topSecret;
    --font-ho: carbonType;
    --font-p: plainText;
    --font-size: 1em;
}

body{
    font-family: var(--font-p);
    font-size: var(--font-size);
    background-color: var(--bg-primary);
    color: var(--color-dark);
}

/* black and white image */
img{
    max-width: 100%;
    height: auto;
    filter: grayscale(100%) contrast(2) brightness(1) saturate(2);
    mix-blend-mode: color-burn;
}

h1{
    font-family: var(--font-h1);
}

h2,h3,h4,h5{
    font-family: var(--font-ho);
}

.txt-fade{
    color: var(--font-secondary);
}

.bg-primary{
    background-color: var(--color-fade-primary);
}
.bg-danger{
    background-color: var(--color-fade-danger);
}
.bg-warn{
    background-color: var(--color-fade-warn);
}
.bg-success{
    background-color: var(--color-fade-success);
}

/* ----------------------------------------------------------- components ------------------------------------------------ */
/* --------------------------------------------------Avatar  */
.avatar{
    border-radius: 50%;
    display: inline-block;
}
.avatar-xl{
    width: 4em;
    height: 4em;
}
.avatar-lg{
    width: 3em;
    height: 3em;
}
.avatar-std{
    width: 2em;
    height: 2em;
}

/* avatar with status  */
.avatar-status{
    position: relative;
    display: inline-block;
}
.online{
    background-color: var(--color-fade-success);
}
.offline{
    background-color: var(--color-fade-dark);
}
.dnd{
    background-color: var(--color-fade-danger);
}
.avatar-status > .avatar-presence{
    position: absolute;
    content: "";
    border-radius: 50%;
    border: 2px solid var(--bg-primary);
    z-index: 2;
}
.avatar-xl + .avatar-presence{
    top: 2.7em;
    left: 3.2em;
    width: 0.9em;
    height: 0.9em;
}
.avatar-lg + .avatar-presence{
    top: 2em;
    left: 2.4em;
    width: 0.8em;
    height: 0.8em;
}
.avatar-std + .avatar-presence{
    top: 1.3em;
    left: 1.6em;
    width: 0.7em;
    height: 0.7em;
}

/* ----------------------------------------------------- Alert */
.alert{
    padding: 1em;
    display: inline-block;
}
.alert-success{
    background-color: var(--color-fade-success);
}
.alert-danger{
    background-color: var(--color-fade-danger);
}
.alert-warn{
    background-color: var(--color-fade-warn);
}
.alert-info{
    background-color: var(--color-fade-primary);
}

/* ----------------------------------------------------- badge  */
/* avatar with badge  */
.badge{
    cursor: pointer;
}
.badge > .avatar-presence{
    width: auto;
    height: auto;
    font-size: 0.5em;
    padding: 0.4em;
    font-weight: bold;
}
.badge > .avatar-xl + .avatar-presence{
    top: 5.3em;
    left: 6.4em;
}
.badge > .avatar-lg + .avatar-presence{
    top: 4em;
    left: 4.6em;
}
.badge > .avatar-std + .avatar-presence{
    top: 2em;
    left: 3em;
}

/* icons with badge  */
img.icon{
    width: 2em;
}
.badge > .icon+.avatar-presence{
    top: 0.2em;
    left: 2.8em;
}

/* ---------------------------------------------------------button  */
button{
    border: none;
    padding: 1em;
    font-family: var(--font-p);
    cursor: pointer;
    display: inline-block;
}
.btn-primary{
    background-color: var(--color-fade-primary);
}
.btn-danger{
    background-color: var(--color-fade-danger);
}
.btn-warn{
    background-color: var(--color-fade-warn);
}
.btn-success{
    background-color: var(--color-fade-success);
}

/* outline button  */
.btn-outline-primary{
    border: 2px solid var(--color-fade-primary);
}
.btn-outline-primary:hover{
    background: var(--color-fade-primary);
}
.btn-outline-danger{
    border: 2px solid var(--color-fade-danger);
}
.btn-outline-danger:hover{
    background: var(--color-fade-danger);
}
.btn-outline-warn{
    border: 2px solid var(--color-fade-warn);
}
.btn-outline-warn:hover{
    background: var(--color-fade-warn);
}
.btn-outline-success{
    border: 2px solid var(--color-fade-success);
}
.btn-outline-success:hover{
    background: var(--color-fade-success);
}


/* button with icon  */
.btn-icon{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
.icon{
    filter: grayscale(0) contrast(0) brightness(0) saturate(0);
    mix-blend-mode: darken;
}

/* -------------------------------------------------------- input  */
.input{
    position: relative;
    display: inline-block;
    margin: 0.8em;
}
input{
    padding: 0.7em;
    border: none;
    outline: 2px solid var(--color-dark);
    font-family: var(--font-p);
    background-color: var(--bg-primary);
}
input + div{
    position: absolute;
    top: -0.6em;
    left: 0.5em;
    z-index: 2;
    background-color: var(--bg-primary);
    font-size: 0.8em;
}
.input-danger{
    outline: 2px solid var(--color-fade-danger);
}
.input-danger + div{
    color: var(--color-fade-danger);
}
.input-warn{
    outline: 2px solid var(--color-fade-warn);
}
.input-warn + div{
    color: var(--color-fade-warn);
}
.input-success{
    outline: 2px solid var(--color-fade-success);
}
.input-success + div{
    color: var(--color-fade-success);
}
