@font-face{
    font-family: 'topSecret';
    src: url(./assets/Top_Secret.woff) format('woff'),
         url(./assets/Top_Secret.ttf);
    ;
}
@font-face{
    font-family: 'carbonType';
    src: url(./assets/carbontype.woff) format('woff'),
         url(./assets/carbontype.ttf);
    ;
}
@font-face{
    font-family: 'plainText';
    src: url(./assets/1942.woff) format('woff'),
         url(./assets/1942.ttf);
    ;
}

*{
    box-sizing: border-box;

    /* firefox scrollbar  */
    scrollbar-width: 12px;
    scrollbar-color: var(--color-dark);
    margin-top: 0;
}
/* scrollbar other browser */
*::-webkit-scrollbar{
    width: 12px;
}
*::-webkit-scrollbar-track{
    background-color: var(--bg-primary);
}
*::-webkit-scrollbar-thumb{
    background-color: var(--color-dark);
}

:root{
    /* ------------------------ theme ----------------------- */
    /* color  */
    --font-primary: #393E46;
    --font-secondary: #929AAB;
    --bg-primary: #EEEEEE;
    --bg-secondary: #F7F7F7;
    /* --color-primary: #00e5e5; */
    --color-fade-primary: #ccffff;
    /* --color-success: #007300; */
    --color-fade-success: #cce5cc;
    /* --color-danger: #e500e5; */
    --color-fade-danger: #ffccff;
    /* --color-warn: #e5e500; */
    --color-fade-warn: #ffffcc;
    --color-dark: #191919;
    --color-fade-dark: #cccccc;

    /* font */
    --font-h1: topSecret;
    --font-ho: carbonType;
    --font-p: plainText;
    --font-size: 1em;
}

body{
    font-family: var(--font-p);
    font-size: var(--font-size);
    background-color: var(--bg-primary);
    color: var(--color-dark);
}

.container{
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
    margin-left: auto;
    margin-right: auto;
}

code{
    font-size: 1em;
    font-family: var(--font-p);
} 

a{
    min-width: fit-content;
}

/* black and white image */
img{
    max-width: 100%;
    height: auto;
    filter: grayscale(100%) contrast(2) brightness(1) saturate(2);
    mix-blend-mode: color-burn;
    background-color: var(--bg-secondary);
}

h1{
    font-family: var(--font-h1);
}

h2,h3,h4,h5{
    font-family: var(--font-ho);
}

.txt-fade{
    color: var(--font-secondary);
}

.bg-primary{
    background-color: var(--color-fade-primary);
}
.bg-danger{
    background-color: var(--color-fade-danger);
}
.bg-warn{
    background-color: var(--color-fade-warn);
}
.bg-success{
    background-color: var(--color-fade-success);
}

/* ----------------------------------------------------------- components ------------------------------------------------ */
/* --------------------------------------------------Avatar  */
.avatar{
    border-radius: 50%;
    display: inline-block;
}
.avatar-xl{
    width: 4em;
    height: 4em;
}
.avatar-lg{
    width: 3em;
    height: 3em;
}
.avatar-std{
    width: 2em;
    height: 2em;
}

/* avatar with status  */
.avatar-status{
    position: relative;
    display: inline-block;
}
.online{
    background-color: var(--color-fade-success);
}
.offline{
    background-color: var(--color-fade-dark);
}
.dnd{
    background-color: var(--color-fade-danger);
}
.avatar-status > .avatar-presence{
    position: absolute;
    content: "";
    border-radius: 50%;
    border: 2px solid var(--bg-primary);
    z-index: 2;
}
.avatar-xl + .avatar-presence{
    top: 2.7em;
    left: 3.2em;
    width: 0.9em;
    height: 0.9em;
}
.avatar-lg + .avatar-presence{
    top: 2em;
    left: 2.4em;
    width: 0.8em;
    height: 0.8em;
}
.avatar-std + .avatar-presence{
    top: 1.3em;
    left: 1.6em;
    width: 0.7em;
    height: 0.7em;
}

/* ----------------------------------------------------- Alert */
.alert{
    padding: 1em;
    display: inline-block;
}
.alert-success{
    background-color: var(--color-fade-success);
}
.alert-danger{
    background-color: var(--color-fade-danger);
}
.alert-warn{
    background-color: var(--color-fade-warn);
}
.alert-info{
    background-color: var(--color-fade-primary);
}

/* ------------------------------------------------------- chip  */
.chip{
    cursor: pointer;
    background-color: var(--color-dark);
    color: var(--bg-secondary);
    padding: 0.5em 0.7em;
    display: inline-block;
    border-radius: 20px;
}
.close{
    color: var(--color-fade-danger);
    cursor: pointer;
}

/* ----------------------------------------------------- badge  */
/* avatar with badge  */
.badge{
    cursor: pointer;
}
.badge > .avatar-presence{
    width: auto;
    height: auto;
    font-size: 0.5em;
    padding: 0.4em;
    font-weight: bold;
}
.badge > .avatar-xl + .avatar-presence{
    top: 5.3em;
    left: 6.4em;
}
.badge > .avatar-lg + .avatar-presence{
    top: 4em;
    left: 4.6em;
}
.badge > .avatar-std + .avatar-presence{
    top: 2em;
    left: 3em;
}

/* icons with badge  */
img.icon{
    width: 2em;
}
.badge > .icon+.avatar-presence{
    top: 0.2em;
    left: 2.8em;
}

/* ---------------------------------------------------------button  */
button{
    border: none;
    padding: 1em;
    font-family: var(--font-p);
    cursor: pointer;
    display: inline-block;
    min-width: fit-content;
    margin: 5px;
    height: auto;
}
.btn-primary{
    /* background-color: var(--color-fade-primary); */
    background-color: var(--color-dark);
    color: var(--bg-secondary);
}
.btn-danger{
    background-color: var(--color-fade-danger);
}
.btn-warn{
    background-color: var(--color-fade-warn);
}
.btn-success{
    background-color: var(--color-fade-success);
}

/* outline button  */
.btn-outline-primary{
    border: 2px solid var(--color-dark);
}
.btn-outline-primary:hover{
    background: var(--color-dark);
    color: var(--bg-secondary);
}
.btn-outline-danger{
    border: 2px solid var(--color-fade-danger);
}
.btn-outline-danger:hover{
    background: var(--color-fade-danger);
}
.btn-outline-warn{
    border: 2px solid var(--color-fade-warn);
}
.btn-outline-warn:hover{
    background: var(--color-fade-warn);
}
.btn-outline-success{
    border: 2px solid var(--color-fade-success);
}
.btn-outline-success:hover{
    background: var(--color-fade-success);
}


/* button with icon  */
.btn-icon{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
i, .icon{
    filter: grayscale(0) contrast(0) brightness(0) saturate(0);
    mix-blend-mode: darken;
    background-color: initial;
}

/* -------------------------------------------------------- input  */
.input{
    position: relative;
    display: inline-block;
    margin: 0.8em;
}
input{
    padding: 0.7em;
    border: none;
    outline: 2px solid var(--color-dark);
    font-family: var(--font-p);
    background-color: var(--bg-primary);
}
input + div{
    position: absolute;
    top: -0.6em;
    left: 0.5em;
    z-index: 2;
    background-color: var(--bg-primary);
    font-size: 0.8em;
}
.input-danger{
    outline: 2px solid var(--color-fade-danger);
}
.input-danger + div{
    color: var(--color-fade-danger);
}
.input-warn{
    outline: 2px solid var(--color-fade-warn);
}
.input-warn + div{
    color: var(--color-fade-warn);
}
.input-success{
    outline: 2px solid var(--color-fade-success);
}
.input-success + div{
    color: var(--color-fade-success);
}

/* ----------------------------------------------- toast  */
.toast{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary);
    padding: 0.3em 0.6em;
    box-shadow: 5px 2px 5px var(--color-fade-dark);
    border-left: 2px solid var(--color-dark);
    position: sticky;
    max-width: 40em;
    z-index: 5;
    top: 82%;
    left: 55%;
}
.toast-retry{
    text-decoration: none;
    /* padding: 0.5em; */
}
.toast-close{
    font-size: 1.2em;
    cursor: pointer;
    color: var(--color-fade-danger);
    padding-left: 0.3em;
    transition: all 0.4s ease-out;
}

/* ----------------------------------------------- navigation */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1em;
    padding-top: 1.5em;
    border-bottom: 2px solid var(--color-dark);
    z-index: 10;
    background-color: var(--bg-primary);
    width: 98%;
}
nav li{
    list-style: none;
    cursor: pointer;
    padding-left: 0.4em;
}
nav > ul{
    display: flex;
    padding: 0.1em;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.cross{
    display: none;
    margin: 0.2em;
}
nav .list{
    display: none;
}
nav a{
    text-decoration: underline;
}

/* --------------------------------------------------- card  */
.card{
    max-width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 2px solid var(--color-dark); 
    padding: 0.5em;
    cursor: pointer;
    position: relative;
}
.card:hover{
    box-shadow: 5px 2px 5px var(--color-fade-dark);
}
.card-img{
    max-width: 60%;
    margin: auto;
    /* height: fit-content; */
    max-height: 20em;
}
.card-text{
    margin: 0 1em;
}
.card-icon{
    min-width: 35px;
    width: 35px;
    /* background-color: var(--bg-primary); */
    border-radius: 10px;
    padding: 3px;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    background-color: rgba(226, 226, 226, 0.5);
}
.card-icon:hover{
    background-color: var(--bg-secondary);
}
.card-icon .icon{
    width: 80%;
    font-size: 1.2rem;
}



/* ------------------------------------------------- list  */
.list{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-dark);
    width: auto;
    padding: 1.5em;
    background-color: var(--bg-primary);
}
.list-global{
    max-width: 30em;
    max-height: 20em;
}
.list-body{
    padding: 1em 0;
    padding-right: 0.5em;
    max-height: 15em;
    overflow-y: auto;
}
a{
    text-decoration: none;
    color: var(--color-dark);
    cursor: pointer;
}
.list li{
    list-style: none;
    padding: 0.5em 0.5em;
    border-bottom: 1px solid var(--color-dark);
}
.list li:hover{
    background-color: var(--color-dark);
    color: var(--bg-primary);
}
.list-active{
    background-color: var(--bg-secondary);
}

/* ----------------------------------------------------- sidebar  */
.sidebar{
    min-height: 83vh;
    width: 18em;
    border: none;
    min-width: 20vw;
    /* border-right: 2px solid var(--color-dark); */
    position: fixed;
}
.sidebar li{
    list-style: none;
    padding: 0.5em 0.5em;
    /* border-bottom: 1px solid var(--color-dark); */
}
.sidebar li:hover{
    background-color: var(--color-dark);
    color: var(--bg-secondary);
}
.sidebar-body{
    padding: 1em 0;
    padding-right: 0.5em;
}
.sidebar{
    overflow-y: auto;
    max-height: 70vh;
}
.sidebar-active{
    background-color: var(--bg-secondary);
}

/* ------------------------------------------------------ image  */
.img-square{
    /* clip-path: polygon(10% 10%, 80% 10%, 80% 90%, 10% 90%); */
    clip-path: inset(5% 20% 15% 10%);
}
.img-circle{
    clip-path: circle();
}

/* -------------------------------------------------- video  */
.video{
    filter: grayscale(100%); 
    display: block;
    max-width: 100%;
}

/* -------------------------------------------------- modal  */
.modal{
    /* display: inline-flex; */
    /* align-items: center; */
    /* justify-content: center; */
    background-color: var(--bg-secondary);
    padding: 0.3em 0.6em;
    box-shadow: 5px 2px 5px var(--color-fade-dark);
    border-left: 2px solid var(--color-dark);
    position: fixed;
    /* max-width: 40em; */
    width: fit-content;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-btn{
    text-align: right;
}


/* ----------------------------------------------- footer  */
footer{
    border-top: 2px solid var(--color-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.1em;
    /* position: absolute; */
    bottom: 0;
    width: 98%;
    background-color: var(--bg-primary);
}
footer .dots{
    display: flex;
}
footer .dot{
    margin: 0.1em;
}
footer .dots div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: var(--color-fade-danger);
}
.c{
    background-color: var(--color-fade-primary);
}
.m{
    background-color: var(--color-fade-danger);
}
.y{
    background-color: var(--color-fade-warn);
}
.k{
    background-color: var(--color-fade-dark);
}
small{
    display: flex;
}

.heart{
    animation: pulse 2s infinite;
    width: 30px;
    height: 30px;
}

@keyframes pulse{
    0%{
        transform: scale(0.75);
    }
    20%{
        transform: scale(1);
    }
    40%{
        transform: scale(0.75);
    }
    /* 60%{
        transform: scale(1.5);
    }
    80%{
        transform: scale(0.75);
    }
    100%{
        transform: scale(0.75);
    } */
}

/* mobile responsive  */
@media screen and (max-width: 768px){
    .toast-container{
        padding: 0.1em 0.5em;
    }

    /* nav  */
    .hamburger{
        display: block;
        cursor: pointer;
        z-index: 5;
    }
    #hide-hamburger{
        display: none;
    }
    .cross{
        display: none;
        cursor: pointer;
        z-index: 5;
    }
    #show-cross{
        display: block;
    }
    nav .list{
        position: absolute;
        top: 1.9em;
        padding: 0.6em;
        transition: all 0.5s ease-in;
        z-index: 2;
        background-color: var(--bg-primary);
    }
    nav a{
        text-decoration: none;
    }
    .hide-list{
        display: none;
    }
    #show-list{
        display: block;
        position: absolute;
        left: 15%;
        right: 0.3em;
    }
    nav > ul{
        display: none;
    }

    /* sidebar  */
    .sidebar{
        display: none;
    }

    /* modal  */
    .modal{
        background-color: var(--bg-secondary);
        padding: 0.2em 0.2em;
        box-shadow: 5px 2px 5px var(--color-fade-dark);
        border-left: 2px solid var(--color-dark);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        width: 90%;
    }

    /* card  */
    .card{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border: 2px solid var(--color-dark); 
        padding: 0.5em;
        cursor: pointer;
        position: relative;
    }
    .card-img{
        max-width: 100%;
        margin: auto;
        /* height: fit-content; */
        max-height: 20em;
    }
}












