main{
    margin-left: 2em;
    max-width: 80%;
    margin-right: 2em;
}

main p{
    line-height: 1.2em;
}

.container{
    display: flex;
    padding-top: 5em;
}

@media screen and (max-width: 768px){
    main{
        margin-left: initial;
        margin-right: initial;
        max-width: 100%;
        height: auto;
    }
}