:root{
    --bg-secondary: #F7F7F7;
}

main{
    margin-left: 2em;
    max-width: 80%;
    margin-right: 2em;
    margin-bottom: 1em;
    overflow: hidden;
    min-width: 75%;
}

main p{
    line-height: 1.2em;
}

/* main > button{
    margin-left: 80%;
} */

.variant{
    background-color: var(--bg-secondary);
    padding: 0.2em;
    border-radius: 10px;
}

.item-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
.container{
    display: flex;
    padding-top: 7em;
}

.component-wrapper{
    background-color: var(--bg-secondary);
    padding: 1em;
}

@media screen and (max-width: 768px){
    main{
        margin-left: initial;
        margin-right: initial;
        max-width: 100%;
        height: auto;
    }
    
}